$main-font-stack:  "Montserrat", sans-serif;
$kaushan-font: "Kaushan Script", cursive;
$roboto-font: "Roboto", sans-serif;
$row: 5rem;
$gap: 1.25rem;
$col: calc(#{$row} + #{$gap});
$list-link-accent: #fce38a;
$header-titles-white: rgb(255, 255, 255);
$main-black: rgb(51, 51, 51);