.container-fluid {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/background@2x.jpg);
      }
    }
  