  .header__btn {
      font-size: 0.875rem;
      font-family: $main-font-stack;
      color: $header-titles-white;
      font-weight: bold;
      text-transform: uppercase;
      width: 9.625rem;
      height: 2.125rem;
      background-color: #f0c988;
      display: block;
      cursor: pointer;
      border: 4px solid #fff;
      margin: 0 auto;

      &--wrp {
        padding-top: 4rem;
        text-align: center;
      }
      
  }