.header {
  &__titles {
    text-align: center;
    padding-top: 6rem;
  }

  &__sub {
    font-size: 3.5rem;
    font-family: $kaushan-font;
    color: $header-titles-white;
  }

  &__main {
    font-size: 7rem;
    font-family: $main-font-stack;
    color: $header-titles-white;
    font-weight: bold;
    text-transform: uppercase;
  }
}
