.icons__btn {
  height: 55px;
  width: 55px;
  background-color: #fce38a;
  border: none;
  cursor: pointer;
  display: inline-block;

&--img {
  width: auto;
  height: 26px;
  margin: 0 auto;
  margin-top: 15px;
}

&:hover {
  background-color: #95e1d3;
}

}