.team__description {
    width: calc($col * 10);
    margin: 0 auto;
    text-align: center;
    font-size: 0.9375rem;
    font-family: $roboto-font;
    color: rgb(153, 153, 153);
    padding-bottom: 5.9375rem;
  }