.team {
&__titles {
  padding-bottom: 2.875rem;
}

&__sub {
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: $kaushan-font;
  color: $main-black;
}

&__title {
  padding-top: 1.4375rem;
  text-align: center;
  font-size: 1.875rem;
  font-family: var(--font);
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
}

&__title::after {
  content: '';
  width: 3.75rem;
  height: 6px;
  display: block;
  border-bottom: 3px solid #f38181;
  margin: 0 auto;
  padding-top: 2.625rem;
}
}